body {
    background-color: #b4d4ff !important;
}

h1, h2, h3, #contact-me{
    font-family: 'Poppins', sans-serif;
}

p, span, a {
    font-family: 'Lato', sans-serif;
}

.projects-container {
    background-color: #eef5ff;
}
#main-container {
    background-color: #eef5ff;
    border-radius: 20px;
    margin: 80px;
    margin-top: 60px;
    word-wrap: break-word;
}

#navbarNav {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

#about-body {
    margin-top: -250px;
}

#matthias {
    color:#b4d4ff;
}

.mybuttons {
    background-color: #b4d4ff;
    border-color: #7db8f6;
    border-radius: 30px;
    --bs-btn-hover-bg: #92bdf6;
    --bs-btn-hover-border-color: #92bdf6;

}

#contact-me {
    color: black;
    font-weight: bolder;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 450px;
}

.card-education {
    height: 350px !important;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
}

.no-bs-gutter {
    --bs-gutter-x: 0 !important;
}

.flex-skills {
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.card-personalised {
    width: 250px;
    height: 300px;
    border-radius: 20px;
    background: #ffffff;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-right: 2rem;
    margin-top: 1rem;
   }
   
.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}
   
.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #92bdf6;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
   
.text-body {
    color: rgb(134, 134, 134);
   }
   
.text-title {
    font-size: 1.5em;
    font-weight: bold;
   }

.card-personalised:hover {
    border-color: #92bdf6;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
.card-personalised:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.project-images {
    width:200px;
    height:auto;
}

/* for when screen is 770px or below */
@media (max-width: 770px) {
    .lead {
        width: 250px;
    }

    #about-me-contact-button {
        width: 200px;
    }

    .card-education {
        height: 550px !important;
    }

    .project-images {
        width:350px;
        height: auto;
    }

    
    .project-images {
        text-align: center;
        width: 250px;
        height: auto;
    }

    #project-flex {
        display:block;
    }

    .card-personalised {
        width: 100%;
        height: auto;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}

/* for when screen is 500px or below */
@media (max-width: 500px) {
    #main-container {
        margin:0;
        padding: 0;
        border-radius: 0;
        width: fit-content;
    }

    .lead {
        width: 250px;
    }

    #about-me-contact-button {
        width: 200px;
    }

    .card-education {
        height: 600px !important;
    }
}